In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
df=pd.read_csv('data/returns.csv',index_col=0,parse_dates=True)

In [3]:
aapl = yf.download("AAPL", start="2024-10-10", end="2025-10-10", progress=False, group_by='ticker')
print(aapl.tail())

C:\Users\gaura\AppData\Local\Temp\ipykernel_3780\463430371.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  aapl = yf.download("AAPL", start="2024-10-10", end="2025-10-10", progress=False, group_by='ticker')

Ticker            AAPL
Price             Open        High         Low       Close    Volume
Date
2025-10-03  254.669998  259.239990  253.949997  258.019989  49155600
2025-10-06  257.989990  259.070007  255.050003  256.690002  44664100
2025-10-07  256.809998  257.399994  255.429993  256.480011  31955800
2025-10-08  256.519989  258.519989  256.109985  258.059998  36496900
2025-10-09  257.809998  258.000000  253.139999  254.039993  38322000

In [4]:
aapl.columns = ['_'.join(col).strip() for col in aapl.columns.values]
aapl.head()

             AAPL_Open   AAPL_High    AAPL_Low  AAPL_Close  AAPL_Volume
Date
2024-10-10  226.724816  228.436849  226.117641  227.978973     28183500
2024-10-11  228.237789  228.347280  226.286862  226.495895     31759200
2024-10-14  227.640554  230.656516  227.541026  230.228516     39882100
2024-10-15  232.527799  236.389830  231.293538  232.766693     64751400
2024-10-16  230.527125  231.044705  228.775268  230.706284     34082200

In [7]:
aapl['Return'] = aapl['AAPL_Close'].pct_change()
aapl = aapl[['Return']].rename(columns={'Return': 'AAPL'})

In [8]:
df.index = df.index.date

In [9]:
combined_df = df.join(aapl, how='inner')

In [11]:
combined_df.index.name = "date"

In [ ]:
combined_df.to_csv("data/returns_with_international.csv")